# whitelist of things to include in docker build context
# see https://docs.docker.com/engine/reference/builder/#dockerignore-file
*
!requirements.txt
!allris
!1_read_paper_json.py
!2_download_pdfs.py
!3_txt_extraction.py
!4_srm_import.py
!nlp.py
!scraper.py